.d {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

.d-block {
    display: block;
}

.d-inline {
    display: inline;
}

.d-none {
    display: none;
}

.d-inline-block {
    display: inline-block;
}

.d-flex {
    display: flex;
}

.d-inline-flex {
    display: inline-flex;
}

.d-table {
    display: table;
}

.d-table-cell {
    display: table-cell;
}

.d-table-row {
    display: table-row;
}