.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-truncate {
    text-overflow: ellipsis;
}

.text-nowrap {
    white-space: nowrap;
}

.text-pre {
    white-space: pre;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.font-light {
    font-weight: lighter;
}

.font-bold {
    font-weight: bold;
}

.font-bolder {
    font-weight: bolder;
}

.font-italic {
    font-style: italic;
}